<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- 
     ###################################
     ##           Endpoints           ##
     ###################################
     -->
    <add key="golUrl"  value="https://gol.syncplicity.com"/>

    <!-- 
     ###################################
     ##        OAuth settings         ##
     ###################################

     Create an app from devportal developer.syncplicity.com
     and then use that Key and secret here.
     1. REPLACE_WITH_APP_KEY
     2. REPLACE_WITH_APP_SECRET
     3. REPLACE_WITH_ADMIN_TOKEN
     -->
    <add key="appKey" value="REPLACE_WITH_APP_KEY" />
    <add key="appSecret" value="REPLACE_WITH_APP_SECRET" />

    <!-- put here your admin token -->
    <add key="syncplicityAdminToken" value ="REPLACE_WITH_ADMIN_TOKEN"/>

    <!--
       The REPLACE_OWNER_EMAIL should be set to the email of Company Owner/Admin.  
       Please enter this email here:
     -->
    <add key="ownerEmail" value="REPLACE_OWNER_EMAIL" />

    <!-- 
    ###################################
    ##       Cross ROL settings      ##
    ###################################
    
    Put here the email of account in foreign ROL. It will be used
    to create a folder and share the folder with this account.
    For example, if the user specified in ownerEmail is from US ROL, then otherRolEmail should be from EU ROL.
    -->
    <add key="otherRolEmail" value="REPLACE_OTHER_ROL_OWNER_EMAIL" />

    <!--
     ###################################
     ##       Content settings        ##
     ###################################

     Enter the full path on the local hard drive to a file that is readable
     and able to be uploaded.  Ensure there is a non-zero amount bytes
     in the file as 0 length files will not upload properly.
               
     uploadFileSmall is any file that needs to be uploaded.
     uploadFileLarge is a relatively large file (> 5 Mb) for chunk upload example.
     downloadDirectory is any directory where files need to be downloaded.
     REPLACE_WITH_NEW_SYNCPOINT_OWNER_EMAIL - email of the user who should be the real owner 
     of syncpoint. As long as a syncpoint is created under admin account, owner should be changed

    If you want to run the APIs taking advantage of the On-Behalf-Of capabilities, then
    you need to replace REPLACE_WITH_ONBEHALFOF_USER_EMAIL with a valid user email. 

    But NOTE if you do not want to execute the APIs using the On-Behalf-Of capabilities, then
    you will need to remove teh asUserEmail configuration or replace REPLACE_WITH_USER_EMAIL with
    an empty string "" 
-->
    <add key="uploadFileSmall" value="Resources/SmallFile.txt" />
    <add key="uploadFileLarge" value="Resources/10MB.zip" />
    <add key="downloadDirectory" value="Downloads" />

    <!-- Put here email of new syncpoint owner (to see sample call for changing owner). If no value will be set - changing owner will be skipped  -->
    <add key="newSyncpointOwnerEmail" value="REPLACE_WITH_NEW_SYNCPOINT_OWNER_EMAIL" />

    <!--
     ###################################
     ##       OBO settings            ##
     ###################################
     
     Put here email of administrator, with permission to make API calls OnBehalfOf other users. 
     If no value will be set - OBO sample will be skipped      
     -->
    
    <add key="asUserEmail" value="REPLACE_WITH_ONBEHALFOF_USER_EMAIL" />

    <!--
     ###################################
     ##       SVA settings            ##
     ###################################
    
    These values should be initialized for working with SVA storages.
    REPLACE_WITH_STORAGE_TOKEN, REPLACE_WITH_MACHINE_TOKEN, REPLACE_WITH_MACHINE_ID values 
    should be initialized according to Syncplicity API content migration guide

    If you want to run the APIs taking advantage of the On-Behalf-Of capabilities, then
    you need to replace REPLACE_WITH_USER_EMAIL with a valid user email. 

    But NOTE if you do not want to execute the APIs using the On-Behalf-Of capabilities, then
    you will need to remove teh asUserEmail configuration or replace REPLACE_WITH_USER_EMAIL with
    an empty string "" 
-->
    <add key="storageToken" value="REPLACE_WITH_STORAGE_TOKEN" />
    <add key="machineToken" value="REPLACE_WITH_MACHINE_TOKEN" />
    <add key="machineId" value="REPLACE_WITH_MACHINE_ID" />
    
  </appSettings>
</configuration>